# Simple Project Cost Center Validation
projects:
  test-poc-3:
    cost_center: CC-1001
    services:
      - s3
      - kms
      - iam

  app2:
    cost_center: CC-3001
    services:
      - rds
      - elasticache
      - secretsmanager

  test-poc-3:
    cost_center: CC-9999
    services:
      - ec2
      - s3
      - cloudwatch

cost_centers:
  CC-1001: Platform Infrastructure
  CC-3001: Application Development
  CC-9999: Testing and POC

approval_rules:
  auto_approve_under: 50
  tier1_threshold: 500
  tier2_threshold: 2000
